<mat-toolbar color="primary">
    <button (click)="onToggleSidenav()" mat-icon-button fxHide.gt-xs>
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/">LOGO</a>
    <ul fxFlex fxLayout fxLayoutGap="15px" fxLayoutAlign="end" fxHide.xs>
        <li><a routerLink="/signup" *ngIf="!isAuth">Signup</a></li>
        <li><a routerLink="/login" *ngIf="!isAuth">Login</a></li>
        <li><a routerLink="/training" *ngIf="isAuth">Training</a></li>
        <li><a *ngIf="isAuth" (click)="onLogout()" style="cursor:pointer">Logout</a></li>
    </ul>
</mat-toolbar>